# Dataframes

In [1]:
using Pkg

In [2]:
Pkg.add("DataFrames")

   Updating registry at `C:\Users\andre\.juliapro\JuliaPro_v1.4.0-1\registries\JuliaPro`
  Resolving package versions...
   Updating `C:\Users\andre\.juliapro\JuliaPro_v1.4.0-1\environments\v1.4\Project.toml`
 [no changes]
   Updating `C:\Users\andre\.juliapro\JuliaPro_v1.4.0-1\environments\v1.4\Manifest.toml`
 [no changes]

In [3]:
using DataFrames

In [4]:
DataFrame()

0×0 DataFrame

In [6]:
DataFrame(A = 1:4, B = rand(4))
DataFrame(rand(10,3))

10×3 DataFrame
│ Row │ x1         │ x2        │ x3        │
│     │ Float64    │ Float64   │ Float64   │
├─────┼────────────┼───────────┼───────────┤
│ 1   │ 0.131363   │ 0.791276  │ 0.250266  │
│ 2   │ 0.423987   │ 0.0443301 │ 0.509525  │
│ 3   │ 0.154283   │ 0.283214  │ 0.775237  │
│ 4   │ 0.277096   │ 0.407768  │ 0.885585  │
│ 5   │ 0.00390208 │ 0.930367  │ 0.879516  │
│ 6   │ 0.790064   │ 0.452076  │ 0.0585666 │
│ 7   │ 0.58016    │ 0.712528  │ 0.856193  │
│ 8   │ 0.551387   │ 0.0376462 │ 0.0611385 │
│ 9   │ 0.654827   │ 0.916377  │ 0.270355  │
│ 10  │ 0.3924     │ 0.327314  │ 0.892125  │

In [7]:
X1 = DataFrame(rand(10,3))     # Transforma o dataframe em matriz
Matrix(X1)

10×3 Array{Float64,2}:
 0.242525    0.0914409  0.570112
 0.501636    0.249798   0.422371
 0.120085    0.399494   0.0246585
 0.545258    0.567345   0.133669
 0.113375    0.569485   0.801874
 0.946264    0.959738   0.747452
 0.018456    0.804218   0.989967
 0.00370103  0.616141   0.435864
 0.913528    0.0816975  0.119135
 0.369114    0.942798   0.650666

In [8]:
Pkg.add("Tables")
using Tables

  Resolving package versions...
  Installed Tables ─ v1.0.4
   Updating `C:\Users\andre\.juliapro\JuliaPro_v1.4.0-1\environments\v1.4\Project.toml`
  [bd369af6] + Tables v1.0.4
   Updating `C:\Users\andre\.juliapro\JuliaPro_v1.4.0-1\environments\v1.4\Manifest.toml`
  [bd369af6] ↑ Tables v1.0.2 ⇒ v1.0.4

In [9]:
tb = Tables.columntable(X1)

(x1 = [0.24252452480593067, 0.5016360570114096, 0.12008467673551437, 0.5452579642833022, 0.11337525185239228, 0.9462640601455545, 0.01845604831421377, 0.00370103380201825, 0.9135277916232323, 0.36911378027884845], x2 = [0.0914409289362319, 0.24979779032235117, 0.39949414719397414, 0.5673450637477135, 0.5694849516404021, 0.959738069452454, 0.8042177398164447, 0.6161410945403709, 0.08169746625565977, 0.9427975949975698], x3 = [0.570112009992457, 0.42237086315716765, 0.024658476968361098, 0.13366853429144432, 0.8018744451165767, 0.7474519590657092, 0.9899668287885108, 0.4358635020013484, 0.11913534261342629, 0.6506661244390164])

In [10]:
typeof(tb)

NamedTuple{(:x1, :x2, :x3),Tuple{Array{Float64,1},Array{Float64,1},Array{Float64,1}}}

In [12]:
tb.x1
tb.x2
tb.x3

10-element Array{Float64,1}:
 0.570112009992457
 0.42237086315716765
 0.024658476968361098
 0.13366853429144432
 0.8018744451165767
 0.7474519590657092
 0.9899668287885108
 0.4358635020013484
 0.11913534261342629
 0.6506661244390164

# More on DataFrames

In [13]:
names(X1)  # nomes das colunas

3-element Array{Symbol,1}:
 :x1
 :x2
 :x3

In [14]:
size(X1)  # dimensões do dataframe (linhas, colunas)

(10, 3)

In [16]:
size(X1, 1), size(X1, 2)

(10, 3)

In [17]:
nrow(X1)
ncol(X1)

3

In [18]:
describe(X1)

3×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min        │ median   │ max      │ nunique │
│     │ Symbol   │ Float64  │ Float64    │ Float64  │ Float64  │ Nothing │
├─────┼──────────┼──────────┼────────────┼──────────┼──────────┼─────────┤
│ 1   │ x1       │ 0.377394 │ 0.00370103 │ 0.305819 │ 0.946264 │         │
│ 2   │ x2       │ 0.528215 │ 0.0816975  │ 0.568415 │ 0.959738 │         │
│ 3   │ x3       │ 0.489577 │ 0.0246585  │ 0.502988 │ 0.989967 │         │

In [19]:
describe(X1, cols = 1:2)

2×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min        │ median   │ max      │ nunique │
│     │ Symbol   │ Float64  │ Float64    │ Float64  │ Float64  │ Nothing │
├─────┼──────────┼──────────┼────────────┼──────────┼──────────┼─────────┤
│ 1   │ x1       │ 0.377394 │ 0.00370103 │ 0.305819 │ 0.946264 │         │
│ 2   │ x2       │ 0.528215 │ 0.0816975  │ 0.568415 │ 0.959738 │         │

In [20]:
eltype.(eachcol(X1))

3-element Array{DataType,1}:
 Float64
 Float64
 Float64

In [21]:
first(X1)  # igual ao head() do python, exibe a primeira linha do dataframe

DataFrameRow
│ Row │ x1       │ x2        │ x3       │
│     │ Float64  │ Float64   │ Float64  │
├─────┼──────────┼───────────┼──────────┤
│ 1   │ 0.242525 │ 0.0914409 │ 0.570112 │

In [22]:
first(X1, 5)

5×3 DataFrame
│ Row │ x1       │ x2        │ x3        │
│     │ Float64  │ Float64   │ Float64   │
├─────┼──────────┼───────────┼───────────┤
│ 1   │ 0.242525 │ 0.0914409 │ 0.570112  │
│ 2   │ 0.501636 │ 0.249798  │ 0.422371  │
│ 3   │ 0.120085 │ 0.399494  │ 0.0246585 │
│ 4   │ 0.545258 │ 0.567345  │ 0.133669  │
│ 5   │ 0.113375 │ 0.569485  │ 0.801874  │

In [23]:
last(X1) # similar ao tail() exibe a última linha do dataframe

DataFrameRow
│ Row │ x1       │ x2       │ x3       │
│     │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┤
│ 10  │ 0.369114 │ 0.942798 │ 0.650666 │

In [24]:
X1

10×3 DataFrame
│ Row │ x1         │ x2        │ x3        │
│     │ Float64    │ Float64   │ Float64   │
├─────┼────────────┼───────────┼───────────┤
│ 1   │ 0.242525   │ 0.0914409 │ 0.570112  │
│ 2   │ 0.501636   │ 0.249798  │ 0.422371  │
│ 3   │ 0.120085   │ 0.399494  │ 0.0246585 │
│ 4   │ 0.545258   │ 0.567345  │ 0.133669  │
│ 5   │ 0.113375   │ 0.569485  │ 0.801874  │
│ 6   │ 0.946264   │ 0.959738  │ 0.747452  │
│ 7   │ 0.018456   │ 0.804218  │ 0.989967  │
│ 8   │ 0.00370103 │ 0.616141  │ 0.435864  │
│ 9   │ 0.913528   │ 0.0816975 │ 0.119135  │
│ 10  │ 0.369114   │ 0.942798  │ 0.650666  │

In [25]:
# X1[ Row, Column]

X1[1:7, 1:2]  # pega as linhas selecionadas (1 a 7) e as colunas selecionadas (1 e 2)

7×2 DataFrame
│ Row │ x1       │ x2        │
│     │ Float64  │ Float64   │
├─────┼──────────┼───────────┤
│ 1   │ 0.242525 │ 0.0914409 │
│ 2   │ 0.501636 │ 0.249798  │
│ 3   │ 0.120085 │ 0.399494  │
│ 4   │ 0.545258 │ 0.567345  │
│ 5   │ 0.113375 │ 0.569485  │
│ 6   │ 0.946264 │ 0.959738  │
│ 7   │ 0.018456 │ 0.804218  │

In [26]:
X1[1:7,:]  # pegas as linhas selecionadas (1 a 7) de todas as colunas

7×3 DataFrame
│ Row │ x1       │ x2        │ x3        │
│     │ Float64  │ Float64   │ Float64   │
├─────┼──────────┼───────────┼───────────┤
│ 1   │ 0.242525 │ 0.0914409 │ 0.570112  │
│ 2   │ 0.501636 │ 0.249798  │ 0.422371  │
│ 3   │ 0.120085 │ 0.399494  │ 0.0246585 │
│ 4   │ 0.545258 │ 0.567345  │ 0.133669  │
│ 5   │ 0.113375 │ 0.569485  │ 0.801874  │
│ 6   │ 0.946264 │ 0.959738  │ 0.747452  │
│ 7   │ 0.018456 │ 0.804218  │ 0.989967  │

In [27]:
X1[:, 1:2] # pega todas linhas das colunas selecionadas (1 e 2)

10×2 DataFrame
│ Row │ x1         │ x2        │
│     │ Float64    │ Float64   │
├─────┼────────────┼───────────┤
│ 1   │ 0.242525   │ 0.0914409 │
│ 2   │ 0.501636   │ 0.249798  │
│ 3   │ 0.120085   │ 0.399494  │
│ 4   │ 0.545258   │ 0.567345  │
│ 5   │ 0.113375   │ 0.569485  │
│ 6   │ 0.946264   │ 0.959738  │
│ 7   │ 0.018456   │ 0.804218  │
│ 8   │ 0.00370103 │ 0.616141  │
│ 9   │ 0.913528   │ 0.0816975 │
│ 10  │ 0.369114   │ 0.942798  │

In [28]:
X1[:, 3]   # Pega todas linhas da terceira coluna

10-element Array{Float64,1}:
 0.570112009992457
 0.42237086315716765
 0.024658476968361098
 0.13366853429144432
 0.8018744451165767
 0.7474519590657092
 0.9899668287885108
 0.4358635020013484
 0.11913534261342629
 0.6506661244390164

In [29]:
X1[:, end]  # Pega todas linhas da última coluna

10-element Array{Float64,1}:
 0.570112009992457
 0.42237086315716765
 0.024658476968361098
 0.13366853429144432
 0.8018744451165767
 0.7474519590657092
 0.9899668287885108
 0.4358635020013484
 0.11913534261342629
 0.6506661244390164

In [30]:
X1[: , Between(:x1, :x3)]

10×3 DataFrame
│ Row │ x1         │ x2        │ x3        │
│     │ Float64    │ Float64   │ Float64   │
├─────┼────────────┼───────────┼───────────┤
│ 1   │ 0.242525   │ 0.0914409 │ 0.570112  │
│ 2   │ 0.501636   │ 0.249798  │ 0.422371  │
│ 3   │ 0.120085   │ 0.399494  │ 0.0246585 │
│ 4   │ 0.545258   │ 0.567345  │ 0.133669  │
│ 5   │ 0.113375   │ 0.569485  │ 0.801874  │
│ 6   │ 0.946264   │ 0.959738  │ 0.747452  │
│ 7   │ 0.018456   │ 0.804218  │ 0.989967  │
│ 8   │ 0.00370103 │ 0.616141  │ 0.435864  │
│ 9   │ 0.913528   │ 0.0816975 │ 0.119135  │
│ 10  │ 0.369114   │ 0.942798  │ 0.650666  │

In [31]:
X1.x4 = rand(10) # cria uma nova coluna no final da matriz

10-element Array{Float64,1}:
 0.29143876976792216
 0.5099179713540842
 0.37923495441866706
 0.1787766218732294
 0.2283462042993949
 0.28342069698919614
 0.08135213173476807
 0.3727523015191625
 0.6808985674428873
 0.4045717005082836

In [32]:
X1

10×4 DataFrame
│ Row │ x1         │ x2        │ x3        │ x4        │
│     │ Float64    │ Float64   │ Float64   │ Float64   │
├─────┼────────────┼───────────┼───────────┼───────────┤
│ 1   │ 0.242525   │ 0.0914409 │ 0.570112  │ 0.291439  │
│ 2   │ 0.501636   │ 0.249798  │ 0.422371  │ 0.509918  │
│ 3   │ 0.120085   │ 0.399494  │ 0.0246585 │ 0.379235  │
│ 4   │ 0.545258   │ 0.567345  │ 0.133669  │ 0.178777  │
│ 5   │ 0.113375   │ 0.569485  │ 0.801874  │ 0.228346  │
│ 6   │ 0.946264   │ 0.959738  │ 0.747452  │ 0.283421  │
│ 7   │ 0.018456   │ 0.804218  │ 0.989967  │ 0.0813521 │
│ 8   │ 0.00370103 │ 0.616141  │ 0.435864  │ 0.372752  │
│ 9   │ 0.913528   │ 0.0816975 │ 0.119135  │ 0.680899  │
│ 10  │ 0.369114   │ 0.942798  │ 0.650666  │ 0.404572  │

# Reading and Writing Dataframe

In [36]:
df = DataFrame(A = [true, false, true], B=[23, 45, 67], C=['a', 'c', 'b'])

3×3 DataFrame
│ Row │ A    │ B     │ C    │
│     │ Bool │ Int64 │ Char │
├─────┼──────┼───────┼──────┤
│ 1   │ 1    │ 23    │ 'a'  │
│ 2   │ 0    │ 45    │ 'c'  │
│ 3   │ 1    │ 67    │ 'b'  │

In [37]:
Pkg.add("CSV")

  Resolving package versions...
  Installed WeakRefStrings ─ v0.6.2
  Installed FilePathsBase ── v0.7.0
  Installed CSV ──────────── v0.5.26
   Updating `C:\Users\andre\.juliapro\JuliaPro_v1.4.0-1\environments\v1.4\Project.toml`
  [336ed68f] + CSV v0.5.26
   Updating `C:\Users\andre\.juliapro\JuliaPro_v1.4.0-1\environments\v1.4\Manifest.toml`
  [336ed68f] + CSV v0.5.26
  [48062228] + FilePathsBase v0.7.0
  [ea10d353] + WeakRefStrings v0.6.2

In [38]:
using CSV

┌ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
└ @ Base loading.jl:1260

In [39]:
CSV.write("df.csv", df)

"df.csv"

In [40]:
new_df = CSV.read("df.csv")

3×3 DataFrame
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 23    │ a      │
│ 2   │ 0    │ 45    │ c      │
│ 3   │ 1    │ 67    │ b      │

In [41]:
Pkg.add("Serialization")

  Resolving package versions...
   Updating `C:\Users\andre\.juliapro\JuliaPro_v1.4.0-1\environments\v1.4\Project.toml`
  [9e88b42a] + Serialization
   Updating `C:\Users\andre\.juliapro\JuliaPro_v1.4.0-1\environments\v1.4\Manifest.toml`
 [no changes]

In [42]:
using Serialization

In [43]:
open("df.bin", "w") do io   #escreve o documento em formato binário
    serialize(io, df)
end

In [44]:
open(deserialize, "df.bin")

3×3 DataFrame
│ Row │ A    │ B     │ C    │
│     │ Bool │ Int64 │ Char │
├─────┼──────┼───────┼──────┤
│ 1   │ 1    │ 23    │ 'a'  │
│ 2   │ 0    │ 45    │ 'c'  │
│ 3   │ 1    │ 67    │ 'b'  │

In [45]:
Pkg.add("JSONTables")

  Resolving package versions...
  Installed JSONTables ── v1.0.0
  Installed StructTypes ─ v1.1.0
  Installed JSON3 ─────── v1.0.3
   Updating `C:\Users\andre\.juliapro\JuliaPro_v1.4.0-1\environments\v1.4\Project.toml`
  [b9914132] + JSONTables v1.0.0
   Updating `C:\Users\andre\.juliapro\JuliaPro_v1.4.0-1\environments\v1.4\Manifest.toml`
  [0f8b85d8] + JSON3 v1.0.3
  [b9914132] + JSONTables v1.0.0
  [856f2bd8] + StructTypes v1.1.0

In [46]:
using JSONTables

┌ Info: Precompiling JSONTables [b9914132-a727-11e9-1322-f18e41205b0b]
└ @ Base loading.jl:1260

In [47]:
open(io -> arraytable(io, df), "df.json", "w")

80

In [48]:
open(jsontable, "df.json") |> DataFrame

3×3 DataFrame
│ Row │ A    │ B     │ C      │
│     │ Bool │ Int64 │ String │
├─────┼──────┼───────┼────────┤
│ 1   │ 1    │ 23    │ a      │
│ 2   │ 0    │ 45    │ c      │
│ 3   │ 1    │ 67    │ b      │

# Row and Column operation on DataFrames

In [49]:
M1 = DataFrame(rand(5,4))

5×4 DataFrame
│ Row │ x1       │ x2        │ x3       │ x4        │
│     │ Float64  │ Float64   │ Float64  │ Float64   │
├─────┼──────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371  │ 0.293911 │ 0.592624  │
│ 2   │ 0.799446 │ 0.969714  │ 0.551469 │ 0.65251   │
│ 3   │ 0.754252 │ 0.855293  │ 0.921517 │ 0.122821  │
│ 4   │ 0.380177 │ 0.0450182 │ 0.786656 │ 0.629294  │
│ 5   │ 0.874766 │ 0.69662   │ 0.639636 │ 0.0245948 │

In [51]:
rename(M1, :x1 => :c1) # Não modifica o nome da coluna no objeto original

5×4 DataFrame
│ Row │ c1       │ x2        │ x3       │ x4        │
│     │ Float64  │ Float64   │ Float64  │ Float64   │
├─────┼──────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371  │ 0.293911 │ 0.592624  │
│ 2   │ 0.799446 │ 0.969714  │ 0.551469 │ 0.65251   │
│ 3   │ 0.754252 │ 0.855293  │ 0.921517 │ 0.122821  │
│ 4   │ 0.380177 │ 0.0450182 │ 0.786656 │ 0.629294  │
│ 5   │ 0.874766 │ 0.69662   │ 0.639636 │ 0.0245948 │

In [52]:
M1

5×4 DataFrame
│ Row │ x1       │ x2        │ x3       │ x4        │
│     │ Float64  │ Float64   │ Float64  │ Float64   │
├─────┼──────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371  │ 0.293911 │ 0.592624  │
│ 2   │ 0.799446 │ 0.969714  │ 0.551469 │ 0.65251   │
│ 3   │ 0.754252 │ 0.855293  │ 0.921517 │ 0.122821  │
│ 4   │ 0.380177 │ 0.0450182 │ 0.786656 │ 0.629294  │
│ 5   │ 0.874766 │ 0.69662   │ 0.639636 │ 0.0245948 │

In [53]:
rename!(M1, :x1 => :c1)  # modifica o nome da coluna no objeto original

5×4 DataFrame
│ Row │ c1       │ x2        │ x3       │ x4        │
│     │ Float64  │ Float64   │ Float64  │ Float64   │
├─────┼──────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371  │ 0.293911 │ 0.592624  │
│ 2   │ 0.799446 │ 0.969714  │ 0.551469 │ 0.65251   │
│ 3   │ 0.754252 │ 0.855293  │ 0.921517 │ 0.122821  │
│ 4   │ 0.380177 │ 0.0450182 │ 0.786656 │ 0.629294  │
│ 5   │ 0.874766 │ 0.69662   │ 0.639636 │ 0.0245948 │

In [54]:
M1

5×4 DataFrame
│ Row │ c1       │ x2        │ x3       │ x4        │
│     │ Float64  │ Float64   │ Float64  │ Float64   │
├─────┼──────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371  │ 0.293911 │ 0.592624  │
│ 2   │ 0.799446 │ 0.969714  │ 0.551469 │ 0.65251   │
│ 3   │ 0.754252 │ 0.855293  │ 0.921517 │ 0.122821  │
│ 4   │ 0.380177 │ 0.0450182 │ 0.786656 │ 0.629294  │
│ 5   │ 0.874766 │ 0.69662   │ 0.639636 │ 0.0245948 │

In [55]:
rename(M1, [:c1, :c2, :c3, :c4])

5×4 DataFrame
│ Row │ c1       │ c2        │ c3       │ c4        │
│     │ Float64  │ Float64   │ Float64  │ Float64   │
├─────┼──────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371  │ 0.293911 │ 0.592624  │
│ 2   │ 0.799446 │ 0.969714  │ 0.551469 │ 0.65251   │
│ 3   │ 0.754252 │ 0.855293  │ 0.921517 │ 0.122821  │
│ 4   │ 0.380177 │ 0.0450182 │ 0.786656 │ 0.629294  │
│ 5   │ 0.874766 │ 0.69662   │ 0.639636 │ 0.0245948 │

In [57]:
rename(M1, string.('a':'d'))

5×4 DataFrame
│ Row │ a        │ b         │ c        │ d         │
│     │ Float64  │ Float64   │ Float64  │ Float64   │
├─────┼──────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371  │ 0.293911 │ 0.592624  │
│ 2   │ 0.799446 │ 0.969714  │ 0.551469 │ 0.65251   │
│ 3   │ 0.754252 │ 0.855293  │ 0.921517 │ 0.122821  │
│ 4   │ 0.380177 │ 0.0450182 │ 0.786656 │ 0.629294  │
│ 5   │ 0.874766 │ 0.69662   │ 0.639636 │ 0.0245948 │

In [58]:
M2 = DataFrame(rand(5,4))

5×4 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.674673 │ 0.407881 │ 0.244646 │ 0.198315 │
│ 2   │ 0.640508 │ 0.46532  │ 0.464707 │ 0.985397 │
│ 3   │ 0.600699 │ 0.753723 │ 0.698989 │ 0.364639 │
│ 4   │ 0.379404 │ 0.059494 │ 0.818088 │ 0.842558 │
│ 5   │ 0.548767 │ 0.664994 │ 0.78381  │ 0.717631 │

In [61]:
hcat(M1,M2, makeunique=true)  # concate dois dataframes quando as colunas não são correspondentes

5×8 DataFrame. Omitted printing of 2 columns
│ Row │ c1       │ x2        │ x3       │ x4        │ x1       │ x2_1     │
│     │ Float64  │ Float64   │ Float64  │ Float64   │ Float64  │ Float64  │
├─────┼──────────┼───────────┼──────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.254398 │ 0.993371  │ 0.293911 │ 0.592624  │ 0.674673 │ 0.407881 │
│ 2   │ 0.799446 │ 0.969714  │ 0.551469 │ 0.65251   │ 0.640508 │ 0.46532  │
│ 3   │ 0.754252 │ 0.855293  │ 0.921517 │ 0.122821  │ 0.600699 │ 0.753723 │
│ 4   │ 0.380177 │ 0.0450182 │ 0.786656 │ 0.629294  │ 0.379404 │ 0.059494 │
│ 5   │ 0.874766 │ 0.69662   │ 0.639636 │ 0.0245948 │ 0.548767 │ 0.664994 │

In [63]:
rename!(M1, :c1 => :x1)
vcat(M1, M2)

10×4 DataFrame
│ Row │ x1       │ x2        │ x3       │ x4        │
│     │ Float64  │ Float64   │ Float64  │ Float64   │
├─────┼──────────┼───────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371  │ 0.293911 │ 0.592624  │
│ 2   │ 0.799446 │ 0.969714  │ 0.551469 │ 0.65251   │
│ 3   │ 0.754252 │ 0.855293  │ 0.921517 │ 0.122821  │
│ 4   │ 0.380177 │ 0.0450182 │ 0.786656 │ 0.629294  │
│ 5   │ 0.874766 │ 0.69662   │ 0.639636 │ 0.0245948 │
│ 6   │ 0.674673 │ 0.407881  │ 0.244646 │ 0.198315  │
│ 7   │ 0.640508 │ 0.46532   │ 0.464707 │ 0.985397  │
│ 8   │ 0.600699 │ 0.753723  │ 0.698989 │ 0.364639  │
│ 9   │ 0.379404 │ 0.059494  │ 0.818088 │ 0.842558  │
│ 10  │ 0.548767 │ 0.664994  │ 0.78381  │ 0.717631  │

In [64]:
[M1 DataFrame(A=[1,2,3,4,5])]

5×5 DataFrame
│ Row │ x1       │ x2        │ x3       │ x4        │ A     │
│     │ Float64  │ Float64   │ Float64  │ Float64   │ Int64 │
├─────┼──────────┼───────────┼──────────┼───────────┼───────┤
│ 1   │ 0.254398 │ 0.993371  │ 0.293911 │ 0.592624  │ 1     │
│ 2   │ 0.799446 │ 0.969714  │ 0.551469 │ 0.65251   │ 2     │
│ 3   │ 0.754252 │ 0.855293  │ 0.921517 │ 0.122821  │ 3     │
│ 4   │ 0.380177 │ 0.0450182 │ 0.786656 │ 0.629294  │ 4     │
│ 5   │ 0.874766 │ 0.69662   │ 0.639636 │ 0.0245948 │ 5     │

In [65]:
insertcols!(M1, 3, newcol=[1,2,3,4,5])

5×5 DataFrame
│ Row │ x1       │ x2        │ newcol │ x3       │ x4        │
│     │ Float64  │ Float64   │ Int64  │ Float64  │ Float64   │
├─────┼──────────┼───────────┼────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371  │ 1      │ 0.293911 │ 0.592624  │
│ 2   │ 0.799446 │ 0.969714  │ 2      │ 0.551469 │ 0.65251   │
│ 3   │ 0.754252 │ 0.855293  │ 3      │ 0.921517 │ 0.122821  │
│ 4   │ 0.380177 │ 0.0450182 │ 4      │ 0.786656 │ 0.629294  │
│ 5   │ 0.874766 │ 0.69662   │ 5      │ 0.639636 │ 0.0245948 │

In [66]:
M1[:, [:x2, :x3]]

5×2 DataFrame
│ Row │ x2        │ x3       │
│     │ Float64   │ Float64  │
├─────┼───────────┼──────────┤
│ 1   │ 0.993371  │ 0.293911 │
│ 2   │ 0.969714  │ 0.551469 │
│ 3   │ 0.855293  │ 0.921517 │
│ 4   │ 0.0450182 │ 0.786656 │
│ 5   │ 0.69662   │ 0.639636 │

In [67]:
cp_M1 = copy(M1)

5×5 DataFrame
│ Row │ x1       │ x2        │ newcol │ x3       │ x4        │
│     │ Float64  │ Float64   │ Int64  │ Float64  │ Float64   │
├─────┼──────────┼───────────┼────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371  │ 1      │ 0.293911 │ 0.592624  │
│ 2   │ 0.799446 │ 0.969714  │ 2      │ 0.551469 │ 0.65251   │
│ 3   │ 0.754252 │ 0.855293  │ 3      │ 0.921517 │ 0.122821  │
│ 4   │ 0.380177 │ 0.0450182 │ 4      │ 0.786656 │ 0.629294  │
│ 5   │ 0.874766 │ 0.69662   │ 5      │ 0.639636 │ 0.0245948 │

In [68]:
M1 == cp_M1

true

In [69]:
sort(M1, :x1)

5×5 DataFrame
│ Row │ x1       │ x2        │ newcol │ x3       │ x4        │
│     │ Float64  │ Float64   │ Int64  │ Float64  │ Float64   │
├─────┼──────────┼───────────┼────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371  │ 1      │ 0.293911 │ 0.592624  │
│ 2   │ 0.380177 │ 0.0450182 │ 4      │ 0.786656 │ 0.629294  │
│ 3   │ 0.754252 │ 0.855293  │ 3      │ 0.921517 │ 0.122821  │
│ 4   │ 0.799446 │ 0.969714  │ 2      │ 0.551469 │ 0.65251   │
│ 5   │ 0.874766 │ 0.69662   │ 5      │ 0.639636 │ 0.0245948 │

In [70]:
deleterows!(M1, 4)

4×5 DataFrame
│ Row │ x1       │ x2       │ newcol │ x3       │ x4        │
│     │ Float64  │ Float64  │ Int64  │ Float64  │ Float64   │
├─────┼──────────┼──────────┼────────┼──────────┼───────────┤
│ 1   │ 0.254398 │ 0.993371 │ 1      │ 0.293911 │ 0.592624  │
│ 2   │ 0.799446 │ 0.969714 │ 2      │ 0.551469 │ 0.65251   │
│ 3   │ 0.754252 │ 0.855293 │ 3      │ 0.921517 │ 0.122821  │
│ 4   │ 0.874766 │ 0.69662  │ 5      │ 0.639636 │ 0.0245948 │

In [71]:
filter(r ->r.x1 > 0.6, M1)

3×5 DataFrame
│ Row │ x1       │ x2       │ newcol │ x3       │ x4        │
│     │ Float64  │ Float64  │ Int64  │ Float64  │ Float64   │
├─────┼──────────┼──────────┼────────┼──────────┼───────────┤
│ 1   │ 0.799446 │ 0.969714 │ 2      │ 0.551469 │ 0.65251   │
│ 2   │ 0.754252 │ 0.855293 │ 3      │ 0.921517 │ 0.122821  │
│ 3   │ 0.874766 │ 0.69662  │ 5      │ 0.639636 │ 0.0245948 │